<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data</title>
    <link rel="icon" href="https://avatars.githubusercontent.com/u/78133145?s=200&v=4">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css">
</head>

<body>
    {{!-- dashboard header starts --}}
    {{> header }}
    {{!-- dashboard header ends --}}

    <section class="text-gray-700 body-font p-10">
        This page shows applications that are authorized to access your data. <br /><br />
        Currently <b>{{user.authorizedApplications.length}} applications</b> have access to your data.
        <div class="container my-12 mx-auto px-4 md:px-12">
            <div class="flex flex-wrap -mx-1 lg:-mx-4">
                {{#each app.items}}
                <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">
                    <article class="overflow-hidden rounded-lg shadow-lg">
                        <header class="p-4">
                            <h1 class="text-lg">
                                <a class="no-underline hover:underline text-black" href="#">
                                    {{name}}Name
                                </a>
                            </h1>
                            <p class="text-grey-darker text-sm">
                                Support Email - {{supportEmail}}
                            </p>

                            <p class="text-grey-darker text-sm">
                                Scope - {{scope}}
                            </p>
                            {{#each participants}}
                            {{this.name}}
                            {{/each}}
                        </header>
                    </article>
                </div>
                {{/each}}
            </div>
        </div>
    </section>

</body>

</html>