<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dev</title>
    <link rel="icon" href="https://avatars.githubusercontent.com/u/78133145?s=200&v=4">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css">
</head>

<body>
    {{!-- dashboard header starts --}}
    <header class="text-gray-700 bg-white border-t border-b body-font">
        <div class="container flex flex-col flex-wrap p-5 mx-auto md:items-center md:flex-row ">
            <a href="./" class="flex items-center w-40 font-medium text-gray-900 title-font md:mb-0">
                <h1 class="text-2xl font-semibold tracking-tighter">UniAuth</h1>
            </a>
            <nav class="flex flex-wrap items-center justify-center text-base md:ml-auto ">
                <a href="profile" class="mr-5 text-sm text-blue-700 font-semibold hover:text-gray-800">Profile</a>
                <a href="data" class="mr-5 text-sm text-gray-600 hover:text-gray-800">My Data</a>
                <a href="dev" class="mr-5 text-sm text-gray-600 hover:text-gray-800">Dev Arena</a>
            </nav>
            <a href="./../account/logout"
                class="items-center px-8 py-3 mt-4 text-sm text-gray-500 transition duration-500 ease-in-out transform bg-white rounded-lg lg:inline-flex lg:mt-px focus:ring focus:outline-none">Log
                Out
            </a>
        </div>
    </header>
    {{!-- dashboard header ends --}}

    <section class="text-gray-700 body-font p-10">
        <b>Name</b> : {{user.name}} <br />
        <b>College Email</b> : {{user.collegeEmail}} <br />
        <b>Branch</b> : {{user.branch}} <br />
        <b>Batch</b> : {{user.batch}} <br />
        <b>Registration Number</b> : {{user.registrationNumber}} <br />

    </section>

</body>

</html>