<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dev</title>
    <link rel="icon" href="https://avatars.githubusercontent.com/u/78133145?s=200&v=4">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css">
</head>
<style>
    .btn {
        background-color: rgb(70, 122, 235);
        padding: 10px 10px;
        display: inline-block;
        color: white;
        margin-left: 100px;
    }
</style>

<body>
    {{!-- dashboard header starts --}}
    {{> header }}
    {{!-- dashboard header ends --}}

    <section class="text-gray-700 body-font p-10">
        <b>Name</b> : {{user.name}} <br />
        <b>College Email</b> : {{user.collegeEmail}} <br />
        <b>Branch</b> : {{user.branch}} <br />
        <b>Batch</b> : {{user.batch}} <br />
        <b>Registration Number</b> : {{user.registrationNumber}} <br />

    </section>

    <a class="btn" href="/user/{{user._id}}/edit">Edit</a>

</body>

</html>