<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css">
    <link rel="icon" href="https://avatars.githubusercontent.com/u/78133145?s=200&v=4">

</head>

<body>

    <section class="text-gray-700 body-font">
        <div class="container px-8 mx-auto py-36 lg:px-4">
            <div class="flex flex-col w-full mb-12 text-left lg:text-center">
                <h2 class="mb-1 text-xs font-semibold tracking-widest text-blue-600 uppercase title-font">{{header}}
                </h2>
                <h1 class="mb-6 text-2xl font-semibold tracking-tighter text-blue-800 sm:text-6xl title-font">
                    <br />
                    {{title}}
                    <br />
                </h1>
                <div class="flex mt-12 lg:justify-center">
                    <a href={{button.href}}
                        class="inline-flex px-4 py-2 font-semibold text-white transition duration-500 ease-in-out transform rounded-lg shadow-xl bg-gradient-to-r from-blue-700 hover:from-blue-600 to-blue-600 hover:to-blue-700 focus:shadow-outline focus:outline-none">{{button.title}}</a>
                </div>
            </div>
    </section>

</body>

</html>